@font-face {
    font-family: 'HeliosCond';
    src: url(../fonts/hellosCond/helioscondbold.ttf) format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons Pro Trial Variable';
    src: url(../fonts/ttCommonsProTrial/TT\ Commons\ Pro\ Trial\ Compact\ Normal.ttf) format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'TT Commons Pro Trial Variable';
    src: url(../fonts/ttCommonsProTrial/TT\ Commons\ Pro\ Trial\ Compact\ Medium.ttf) format('truetype');
    font-weight: 500;
    font-style: normal;
}
