@media (max-width: 450px) {
    .cart-list-image-center {
        display: none;
    }

    .cart-list-item-price {
        font-size: 18px;
    }

    .cart-list-info-name {
        font-size: 18px;
    }

    .cart-block-item-price {
        font-size: 18px;
    }

    .cart-block-item-text {
        font-size: 18px;
    }

    .cart-block-total-text {
        font-size: 18px;
    }

    .cart-block-button {
        font-weight: 400;
        margin: 20px 0;
    }

    .cart-block-total-price {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    /* START header */

    header {
        background-color: #F4FAFF;
        padding: 18px 0;
    }

    .content-visible-xl {
        display: none;
    }

    .content-visible-sm {
        display: block;
    }

    .hamburger-inner {
        background-color: #0A488A;
    }

    .hamburger-inner::before,
    .hamburger-inner::after {
        background-color: #0A488A;
    }

    .hamburger.active .hamburger-inner::before {
        transform: translateY(7px) rotate(45deg);
    }

    .hamburger.active .hamburger-inner::after {
        transform: translateY(-7px) rotate(-45deg);
    }

    .close-menu-user .hamburger-inner::before {
        background-color: #FFF;
    }

    .close-menu-user .hamburger-inner::after {
        background-color: #FFF;
    }

    .close-button-item .hamburger-inner::before {
        background-color: #FFF;
    }

    .close-button-item .hamburger-inner::after {
        background-color: #FFF;
    }

    .cart-list-item-remove .hamburger-inner::before {
        background-color: #FFF;
    }

    .cart-list-item-remove .hamburger-inner::after {
        background-color: #FFF;
    }

    .hamburger-inner::before {
        top: -7px;
    }

    .hamburger-inner::after {
        top: 7px;
    }

    .hamburger-box {
        width: 20px;
        height: 20px;
    }

    .hamburger-inner {
        top: 70%;
    }

    /* END header */

    /* START common-menu */

    .menu {
        background-color: #3F3124;
        padding: 21px 0 30px;
    }

    .menu-block {
        top: 66px;
    }

    .menu-active {
        width: 100%;
        height: 100%;
        overflow: auto;
        max-width: 100%;
    }

    .menu-content-text {
        font-size: 30px;
        padding: 11px 0 11px 24px;
    }

    .menu-content-contact-text {
        display: none;
    }

    .media-correct {
        display: block;
    }

    .xl-correct {
        display: none;
    }

    .menu-content-link {
        color: #FFF;
    }

    .menu-catalog-button {
        padding: 11px 0 11px 24px;
    }

    .my-icons-menu {
        display: none;
    }

    .menu-content-button-text {
        color: #FFF;
        font-size: 30px;
    }

    .menu-hr {
        display: none;
    }

    .menu-contact {
        margin-left: 45px;
    }

    .my-icons-menu-contact {
        font-size: 65px;
        margin-right: 20px;
        color: #FFF;
        margin-top: 24px;
    }

    /* END common-menu */

    /* START banner */

    .banner {
        height: 486px;
    }

    .banner-content {
        padding: 24px 0 187px;
        max-width: 338px;
    }

    .banner-info-text {
        display: none;
    }

    .banner-content-info {
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.5px;
        padding-bottom: 11px;
    }

    .banner-info-title {
        font-size: 32px;
        line-height: 40px;
        padding-bottom: 12px;
    }

    /* END banner */

    /* START section super-corm*/

    .super-corm {
        display: none;
    }

    /* END section super-corm*/

    /* START shop */

    .xl-shop {
        display: none;
    }

    .media-shop {
        display: block;
    }

    .shop {
        margin-bottom: 65px;
    }

    /* END shop */

    /* START info section*/

    .info {
        padding-bottom: 50px;
    }

    .info-title {
        display: none;
    }

    .info-content-title {
        padding: 40px 0 26px;
        font-size: 24px;
        max-width: 338px;
    }

    .info-content-text {
        font-size: 16px;
        padding-bottom: 26px;
        color: #F4FAFF;
        max-width: 338px;
    }

    .info-content-link {
        width: 100%;
        margin-bottom: 39px;
    }

    /* END info section*/

    /* START promotion section*/

    .promo-content {
        background-image: url(../images/promoContentMedia_1.png);
        padding: 12px 0 28px 13px;
        margin: 40px 0 37px;
    }

    .media-image-control {
        width: 43.5px;
        height: 7.83px;
    }

    .my-swiper .swiper-pagination {
        display: none;
    }

    .my-swiper .my-swiper-button-next {
        display: none;
    }

    .my-swiper .my-swiper-button-prev {
        display: none;
    }

    .promotion-first {
        background-image: url(../images/promoContentMedia_1.png);
    }

    .promo-content-title {
        font-size: 24.85px;
        max-width: 119px;
        padding: 20px 0 18px;
    }

    .promo-content-text {
        font-size: 6.98px;
        max-width: 100px;
    }

    /* END promotion section */

    /* START news section */

    .news-swiper .swiper-pagination {
        display: none;
    }

    .news-swiper .my-swiper-button-next {
        display: none;
    }

    .news-swiper .my-swiper-button-prev {
        display: none;
    }

    .news-content {
        margin: 41px 0 76px;
        padding: 35px 31px 35px 31px;
    }

    /* END news section */

    /* START catalog html */

    .catalog-tablinks {
        font-size: 20px;
        font-weight: 700;
        line-height: auto;
        color: #3F3124;
        letter-spacing: 0;
    }

    .catalog-swiper-block {
        display: block;
    }

    .tab-content {
        display: none;
    }

    .tab-content.active {
        display: none;
    }

    .catalog-hr {
        display: none;
    }

    .catalog-tablinks-hr {
        display: none;
    }

    .catalog-tablinks.active .catalog-tablinks-hr {
        display: none;
    }

    .catalog {
        overflow: hidden;
    }

    /* END catalog html */

    /* START footer */

    .footer-icons-position {
        display: none;
    }

    .footer-icons-contact-media {
        display: flex;
        justify-content: center;
        margin: 46px 0;
    }

    .footer-hr {
        display: none;
    }

    .footer-title-politic-left {
        place-self: anchor-center;
    }

    .footer-title-politic-right {
        display: none;
    }

    .footer-title-politic-media {
        display: block;
    }

    footer {
        padding: 32px 0 36px;
    }

    .footer-block-position {
        margin-bottom: 18px;
    }

    /* END footer */

    /* histori block */

    .about-years {
        gap: 11px;
        width: 338px;
    }

    .about-button {
        background-color: #EEE6E4;
        width: 104px;
        height: 41px;
        font-size: 15.55px;
        font-weight: 400;
        line-height: 23.3px;
        letter-spacing: 0.49px;
        color: #FFF;
    }

    .about-button:hover {
        width: 105px;
        height: 41px;
    }

    .about-button.active {
        background-color: #806356;
        width: 106px;
        height: 41px;
    }

    /* contacts block */

    .contacts-vectore {
        display: none;
    }

    .contacts-content-name {
        font-size: 26px;
        padding: 0;
    }

    .contacts-text {
        padding: 0;
        margin-bottom: 40px;
    }

    .contacts-content-text {
        display: none;
    }

    .contacts-number {
        padding: 10px 0;
    }

    .contacts-title {
        padding-bottom: 22px;
    }

    .contacts {
        padding: 16px 0 30px;
    }

    .contacts-title-media {
        padding-bottom: 16px;
        font-size: 30px;
    }

    .legal-details {
        padding-bottom: 48px;
    }

    .delivery {
        padding-bottom: 100px;
    }

    .delivery-content {
        font-size: 16px;
        padding: 0 0 10px;
    }

    .product-img-block {
        height: 331px;
    }

    .similar-product {
        display: none;
    }

    .products-swiper {
        display: none;
    }

    .product-tab-content.tab-content {
        display: none;
    }

    .product-tab-content.tab-content.active {
        display: block;
    }

    .product-tab-content-text {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.5px;
        color: #0D1521;
        margin-bottom: 97.5px;
    }

    .menu-user {
        top: 5%;
        max-width: 100%;
        background-color: #3F3124;
    }

    .registration-link {
        color: #FFF;
    }

    .registration-info {
        color: #FFF;
    }

    .close-menu-user {
        margin-bottom: 30px;
        margin-right: 30px;
    }

    .menu-user {
        padding: 26px 35px 50px 35px;
    }

    .registration-label {
        font-size: 30px;
    }

    .bag-shopping {
        width: 100%;
        top: 5%;
        padding: 26px 35px 50px 35px;
        background-color: #3F3124;
    }

    .close-button-item {
        right: 30px;
    }

    .bag-shopping-swiper .my-swiper-button-prev {
        display: none;
    }

    .bag-shopping-swiper .my-swiper-button-next {
        display: none;
    }

    .bag-shopping-empty {
        padding-bottom: 30px;
    }

    .bag-shopping-empty-text {
        font-size: 30px;
        color: #FFF;
    }

    .popular-shop-title {
        font-size: 24px;
        color: #FFF;
    }

    .popular-shop {
        margin-bottom: 25px;
    }

    .cart-block-button {
        width: 100%;
    }

    .cart-list {
        gap: 5px;
    }

    .cart-list-info-groop {
        color: #FFF;
    }

    .cart-list-info-weight {
        color: #FFF;
    }

    .cart-list-item-counter {
        color: #FFF;
    }


    .cart-list-item-price {
        color: #FFF;
    }

    .cart-list-info-name {
        color: #FFF;
    }

    .cart-block-item-price {
        color: #FFF;
    }

    .cart-block-item-text {
        color: #FFF;
    }

    .cart-block-total-text {
        color: #FFF;
    }

    .cart-block-total-price {
        color: #FFF;
    }

    .popular-swiper-name {
        color: #FFF;
    }

    .popular-swiper-price {
        color: #FFF;
    }

    .popular-swiper-weight {
        color: #FFF;
    }

    .registratioin-block {
        padding: 20px 0 35px;
    }

    .registratioin-block-title {
        padding-bottom: 30px;
        font-size: 30px;
        text-align: center;
    }

}

@media (max-width: 1199px) {

    /* histori block */

    .histori {
        padding: 16px 0 48px;
    }

    .about-text {
        display: none;
    }

    .about-title {
        padding-bottom: 25px;
    }

    .about-button {
        background-color: #EEE6E4;
        border-radius: 5.88px;
        width: 140px;
    }

    .about-button:hover {
        width: 142px;
    }

    .about-button.active {
        background-color: #806356;
        width: 143px;
    }

    .histori-image-block {
        display: none;
    }

    .about-years-content {
        padding: 36px 0 0;
        display: block;
    }

    .about-years-content-text {
        visibility: visible;
        max-width: 100%;
        height: 100%;
    }

    .about-years-content-text.tab-content {
        display: none;
    }

    .about-years-content-text.tab-content.active {
        display: block;
    }

    /* mission block */

    .missiom-block-title {
        font-size: 20px;
        padding: 27px 0 12px 0;
    }

    .mission-block-text {
        font-size: 16px;
        padding-bottom: 27px;
    }

    /* info block */

    .info-block-content {
        padding: 48px 0 0;
    }

    .info-block-content-title {
        padding-bottom: 15px;
    }

    .info-block-content-text {
        max-width: 100%;
        font-size: 16px;
        line-height: 143%;
        letter-spacing: 0;
        padding-bottom: 24px;
    }

    .info-block-content-xl {
        display: none;
    }

    .info-block-content-media {
        display: block;
    }

    .info-block-content-image-media {
        padding-bottom: 30px;
    }

    .values-xl {
        display: none;
    }

    .values-media {
        display: block;
    }

    .media-background {
        background-color: #F0E5E3;
        overflow: hidden;
    }

    .values-title {
        padding: 40px 0 16px;
    }

    .values-text {
        font-size: 16px;
        line-height: 143%;
        padding-bottom: 43px;
        letter-spacing: 0;
    }

    .values-image-block {
        padding-bottom: 63px;
    }

    /* charity block */

    .charity-title {
        font-size: 30px;
        letter-spacing: -0.5px;
    }

    .charity-text {
        padding: 0 0 40px;
        max-width: 100%;
    }

    .charity-swiper-image-block {
        margin-bottom: 22px;
        max-width: 100%;
    }

    .charity-swiper-title {
        font-size: 24px;
        padding-bottom: 14px;
    }

    .charity-swiper-text {
        padding-bottom: 34px;
    }

    .charity-swiper {
        padding-bottom: 46px;
    }

    .charity-swiper .swiper-pagination {
        display: none;
    }

    .charity-swiper .my-swiper-button-prev {
        display: none;
    }

    .charity-swiper .my-swiper-button-next {
        display: none;
    }

    /* product block */

    .product-title {
        display: none;
    }

    .product-image-media {
        display: block;
    }

    .product-xl {
        display: none;
    }

    .product-media {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 0 6px;
    }

    .product-bottom-item-price {
        font-size: 40px;
        padding: 0;
    }

    .product-media-button {
        display: block;
        width: 100%;
        ;
    }

    .product-img-block {
        margin: 18px 0 20px;
    }

    .product-group {
        padding-top: 20px;
        font-size: 14px;
        line-height: 12.7px;
        letter-spacing: 0.09px;
    }

    .product-name {
        padding-top: 8px;
        font-size: 36px;
        line-height: 38.2px;
        letter-spacing: 0.29px;
    }

    .product-appointment {
        padding-top: 4px;
        font-size: 18px;
    }

    .product-tablinks.active .product-tablinks-hr {
        display: none;
    }

    .proruct-hr {
        display: none;
    }

    .product-tablinks {
        color: #806356;
        background-color: #F6EDE4;
        height: 40px;
        width: 100%;
        border-radius: 5.88px;
        border: none;
        margin: 44px 0 25px;
        font-size: 15.55px;
        line-height: 23.3px;
        letter-spacing: 0.49px;
        font-weight: 400;
    }

    .product-tablinks.active {
        background-color: #806356;
        color: #FFFFFF;
        font-weight: 400;
    }

}

@media (max-width: 1399px) {
    .iframe-xl {
        display: none;
    }

    .iframe-media {
        display: block;
    }

    .contacts-content {
        padding: 0;
    }
}